@import "../../styles/variables.scss";
.ourProducts {
	padding: 0;
	display: flex;
	gap: 30px;
	position: relative;
	padding: 0 0 80px 0;
	@media (max-width: $md) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&_titles {
		width: 55%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 50px;
		padding: 0 5%;
		@media (max-width: $md) {
			align-items: center;
			order: 2;
			padding: 0 2%;
			width: 100%;
		}
		h2 {
			@media (max-width: $md) {
			}
		}
		p {
			color: #7d7979;
			font-size: 30px;
			line-height: 35px;
			transition: 0.4s;
			&:hover {
				color: #4a4949;
			}
			@media (max-width: $md) {
				font-size: 20px;
				line-height: 25px;
			}
		}
		.category {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px 0px;
			flex-wrap: wrap;
		}
	}
	&_imgDiv {
		width: 44%;
		height: 500px;
		overflow: hidden;
		&:hover {
			img {
				transform: scale(1);
			}
		}
		@media (max-width: $md) {
			display: none;
		}
		img {
			transform: scale(1.1);
			width: 100%;
			height: 100%;
			transition: 0.4s;
			cursor: pointer;
		}
	}
	.buttonDiv {
		position: absolute;
		bottom: 0px;
		left: 42%;
		button {
			width: 40px;
			height: 40px;
			background: none;
			border: 2px solid #434343;
			border-radius: 7px;
			transform: rotate(45deg);
			margin-right: 25px;
			cursor: pointer;
			transition: 0.4s;
			&:hover {
				transform: rotate(45deg) scale(1.1);
			}
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					color: #434343;
					font-size: 25px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}
