@import "../../styles/variables.scss";

.company {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 150px;
	@media (max-width: $sm) {
		margin-top: 100px;
		flex-direction: column;
	}
	&Col1 {
		width: 46%;
		@media (max-width: $sm) {
			width: 100%;
			text-align: center;
		}
		p {
			font-size: 19px;
			color: #232536;
			margin: 40px 0 0 0;
			@media (max-width: $sm) {
				margin: 20px 0;
			}
		}
	}
	&Col2 {
		width: 50%;
		background: #ffa336;
		color: $light;
		padding: 60px 100px;
		display: flex;
		flex-wrap: wrap;
		gap: 40px 10px;
		justify-content: space-between;
		@media (max-width: $sm) {
			padding: 40px 10px;
			width: 100%;
			gap: 20px 10px;
		}
		div {
			width: 45%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			@media (max-width: $sm) {
				width: 47%;
				text-align: center;
				align-items: center;
			}
			p {
				width: 50%;
				height: 8px;
				background: #ffffffad;
				position: relative;
				span {
					position: absolute;
					top: 0;
					left: 0;
					display: inline-block;
					background: $primary;
					width: 20%;
					height: 100%;
				}
			}
		}
	}
}
