@import "../../styles/variables.scss";
.Clients {
	background-image: url("../../../public/clientsBG.png");
	background-size: cover;
	padding: 100px 0;
	position: relative;
	.clients {
		&Number {
			color: #ffffff90;
			font-size: 90px;
			font-weight: 900;
			position: absolute;
			top: -1%;
			right: -0.1%;
		}
		&Images {
			&Row {
				display: flex;
				align-items: center;
				justify-content: center;
				div {
					border: 1px solid $light;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 30%;
					height: 170px;
					margin-top: 50px;
				}
				span {
					margin-top: 50px;
					border-top: 5px dashed $light;
					width: 10%;
				}
			}
		}
	}
}
