@import "../../styles/variables.scss";
.title {
	color: #4a4949;
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 1px;
	transition: 0.3s;
	position: relative;
	z-index: 4;
	width: max-content;
	font-family: $font_titles;
	font-weight: 700;
	&:hover {
		transform: scale(1.02);
	}
	@media (max-width: $sm) {
		line-height: 30px;
	}
	span {
		position: absolute;
		top: -20px;
		left: -50px;
		z-index: -1;
		color: #d3d3d3;
		font-size: 100px;
		font-weight: 900;
		@media (max-width: $md) {
			top: -20px;
			left: -50px;
			font-size: 75px;
			line-height: 75px;
		}
	}
}
