@import "../../styles/variables.scss";

.about {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
	padding: 200px 0 0 0;
	@media (max-width: $sm) {
		padding: 150px 0 0 0;
	}
	h5 {
		text-transform: uppercase;
	}
	h2 {
		@media (max-width: $sm) {
			width: 100%;
		}
	}
	p {
		font-size: 23px;
		width: 70%;
		color: #232536;
		@media (max-width: $sm) {
			font-size: 18px;
			width: 100%;
		}
	}
	&_imgDiv {
		display: flex;
		flex-wrap: wrap;
		gap: 1%;
		div {
			width: 32%;
			height: auto;
			overflow: hidden;
			@media (max-width: $sm) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.4s;
			transform: scale(1.1);
			&:hover {
				transform: scale(1);
			}
		}
	}
}
