@import "../../styles/variables.scss";
.individuals {
	padding: 0 0 0 5%;
	display: flex;
	gap: 30px;
	&_titles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 50px;
		width: 55%;
		p {
			color: #7d7979;
			font-size: 30px;
			line-height: 35px;
			transition: 0.4s;
			&:hover {
				color: #4a4949;
			}
		}
	}
	&_imgDiv {
		width: 44%;
		height: 600px;
		overflow: hidden;
		img {
			transform: scale(1.1);
			height: 100%;
			width: 100%;
			transition: 0.4s;
			&:hover {
				transform: scale(1);
			}
		}
	}
}
