@import "../../styles/variables.scss";
.individuals {
	padding: 0 0 0 5%;
	display: flex;
	gap: 30px;
	@media (max-width: $md) {
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 0 2%;
	}
	&_titles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 50px;
		width: 55%;
		@media (max-width: $md) {
			width: 100%;
			text-align: center;
			align-items: center;
		}
		p {
			color: #7d7979;
			font-size: 30px;
			line-height: 35px;
			transition: 0.4s;
			&:hover {
				color: #4a4949;
			}
			@media (max-width: $md) {
				font-size: 20px;
				line-height: 25px;
			}
		}
	}
	&_imgDiv {
		width: 44%;
		height: 600px;
		overflow: hidden;
		@media (max-width: $md) {
			display: none;
		}
		img {
			transform: scale(1.1);
			height: 100%;
			width: 100%;
			transition: 0.4s;
			object-fit: cover;
			&:hover {
				transform: scale(1);
			}
		}
	}
}
.modal_individuals {
	padding: 50px 0;
	display: flex;
	gap: 50px;
	h2 {
		color: $light;
	}
	span {
		color: #4a4949;
	}
	&_imgDiv {
		width: 50%;
		height: 500px;
		overflow: hidden;
		img {
			transform: scale(1.1);
			height: 100%;
			width: 100%;
			transition: 0.4s;
			object-fit: cover;
			&:hover {
				transform: scale(1);
			}
		}
	}
	&_titles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 50px;
		width: 55%;
		p {
			color: $light;
			font-size: 20px;
			line-height: 25px;
			transition: 0.4s;
			&:hover {
				color: #c2c2c2;
			}
		}
	}
}
